LIVEKIT_DOMAIN=voice.example.com
TOKEN_DOMAIN=token.example.com

SUPABASE_URL=https://lrjtpzpojrrvejnglagh.supabase.co
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

LIVEKIT_API_KEY=YOUR_LIVEKIT_API_KEY
LIVEKIT_API_SECRET=YOUR_LIVEKIT_API_SECRET

